/** Style page général **/
html, body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    width: 100%;
    height: 100%;
}


.debug{
    border:  2px solid red;
    width: 70%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(127,127,127,0.8);
}
/** Style page général **/
html, body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    width: 100%;
    height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*header*/
.header{
    width: 100vw;
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.title{
    color:white;
}

/*hamburger*/
* {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  /*.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: #ec8e0c;
    //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    color: #FFF;
    height: 50px;
    padding: 1em;
  }*/
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  /**/
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
.page_title{
  justify-content: center;
}
/*body*/
.zone_connexion{
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 6;
  position:absolute;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}
.mef_con{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zne_con{
  width: 50%;
  height: 50%;
  background-color: aqua;
  opacity:1;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.zne_content{
    width: 99vw;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zone_mea{
  width: 99vw;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.en_avant{
    width: 95%;
    height: 670px;
    margin-top: 20px;
    background-color: blue;
    
}
a{
  text-decoration: none;
}
.produit_avant{
  width: 100%;
  height: 100%;
  background-size: 140%;
  display:flex;
  justify-content: space-between;
}
#parallax {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

a:link, a:visited,a:hover, a:focus, a:active{
  font-size:20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.nom_plat{
  height: 80px;
  width: 80%;
  font-size: 60px;
  font-weight: bold;
}
.fleche{
  height: 100%;
  width: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fleche_g{
  height: 50px;
  width: 50px;
  background-size: cover ;
  background-repeat: no-repeat;
}
.fleche_d{
  height: 50px;
  width: 50px;
  background-size: cover ;
  background-repeat: no-repeat;
}
.plat{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.v{
  width: 100%;
  height:55%;
}
.nc{
  height: 20px;
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.mc{
  height:40px;
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.note{
  height:40px;
  width: 200px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 265px;
}
.n1{
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 40px;
}
.n2{
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 40px;
}
.n3{
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 40px;
}
.n4{
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 40px;
}
.n5{
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 40px;
}
.mc{
  height: 20px;
  display: flex;
  align-items: flex-end;
}
.dc{
  width: 95%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size:20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.description{
  width: 78%;
  height: 95%;
  margin-top: 20px;
}

.type_cuisine{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 95%;
  justify-content: space-evenly;
}
.tc_l1{
  display: flex;
  height: 40%;
  justify-content: space-around;
}
.tc_l2{
  display: flex;
  height: 40%;
  justify-content: space-around;
}
.tc_btn{
  background-size: cover;
  background-repeat: no-repeat;
  height:80px;
  width: 253px;
}

.l1{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.image{
  width: calc(100vh / 3);
  height: 100%;
}
.info{
  width: calc(100vh / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.c_note_plat{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.note_plat{
  height:40px;
  width: 200px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}
.commande{
  height:100%;
  width: calc(100vh / 3);
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.btn_commande{
  height: 10vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.temps{
  width: 100%;
  height: 10vh;
}

.l2{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.description_plat{
  height: 95%;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.descr_titre{
  width: 95%;
  height: 20px;
}
.descr_texte{
  height: 90%;
  width: 95%;
}
.commentaire{
  height: 95%;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.comm_titre{
  width: 95%;
  height: 20px;
}
.comm_texte{
  height: 90%;
  width: 95%;
}